@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Chakra Petch', sans-serif;
}

html{
    font-size: 65.2%;
}

body{
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    ;
}

.nav__logo{
    width: 180px;
}

.nav__cart{
    width: 35px;
}

.nav__font{
    color: rgb(221,255,13);
    font-size: 2rem;
    font-weight: 600;
}

.main__font{
    color: rgb(232, 234, 235);
    font-size: 2rem;
    font-weight: 600;
}

.main__btn--color{
    background-color: rgb(221,255,13);
    font-weight: 600;
    color: black;
}

.font__bold{
    color: rgb(232, 234, 235);
    font-size: 1.5rem;
    font-weight: 600;
}

.font__semibold{
    color: rgb(232, 234, 235);
    font-size: 1.5rem;
    font-weight: 300;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.3s;
}

.mx-10{
    margin: 0 10px;
}

.footer__logo{
    width: 30px;
    margin: 0 30px;
}



.navbar-toggler-border-color{
    border-color: rgb(221,255,13);
}

.btn:hover{
    color: black;
    background-color: rgb(221,255,13);
    transform: scale(1.02);
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-menu{
    background-color: rgb(37, 37, 37);
}

.dropdown-item:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}


.bg-color{
    background-color: rgb(37, 37, 37);
}

